html{
    margin: auto;
    width: 80%;
    padding: 0;
}
.menubar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 8px;
}
.header{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0; 
    height: 80vh;
    background-image: url("./Images/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header>.logo{
    position: relative;
    top: 30%;
    left: 40%;
    display: inline-block;
    color:white;
    font-size: 50px;
}
nav{
    height: auto;
    width: 100%;
    display: flex;
    
}
nav>.menus>.menu>a{
    font-size: 24px;
    padding: 18px;
    color: white;
    text-decoration: none;
}
nav>.menus>img:hover {
    opacity: 0.5;
}
.menus{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    color: black;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.partytime{
    background-color: tomato;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    height: 100px;
}
.happyhour{
    text-align: center;
    height: 90px;
} 
.othermenus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 18px;
    width: 400px;
}
.lunch{
    display: flex;
    flex-direction: row;
    margin: 5%;
    width: 80%;
}
.food{
    float: left;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    margin-left: 10px;
}
.drinks{
    display: flex;
    margin: 5%;
    width: 80%;
}
.drink{
    width: 50%;
    margin: 10px;
    box-sizing: border-box; 
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
}
h6{
    color: #F15A29;
    border: 1px solid #F15A29;
    font-size: 24px;
    width: 50%;
    height: 5vh;
    text-align: center;
    padding: 20px;
}
h6>img{
    width: 50px;
    height: 15px;
    justify-content: center;
}
.arrow{
    height: 1px;
}
.fastfood{
    background-image: url("./Images/backgrounds/foodsBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
    
  
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 70%;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mytabs>.tab>.food-img{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.arrow{
    margin: 50px 0;
}

.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
    width: 20%;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}
.mytabs .tab h2:first-child {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
    color: #F15A29;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}
.customers{
    width: 70%;
    margin: 50px auto;
    display: flex;
    text-align: justify;
    border:  1px solid #ccc;
    box-shadow: 5px 5px 5px grey;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    color: #F15A29;
}
.feedbacks{
    width: 50%;
    padding: 30px;
}
.feedback{
    display: flex;
    justify-content: center;
}
.feedback .arrow{
    margin: 1px 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #F15A29;
}
.about-menu{
    width: 50%;
    margin-left: 10px;
    padding: 30px;
    border-left: 1px solid #ccc;
}
form{
    background-image: url("./Images/backgrounds/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 30vh;

}
.subscribe{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type=text], input[type=submit]{
    width: 250px;
    height: 4vh;
    margin: 2px;
    background-color: #f1f1f1;
    
}
input[type=submit]{
    background-color: #F15A29;
    color: white;
    border: none;
}
footer{
    background: #F15A29;
    text-align: center;
    color: white;
    padding: 10px;

}
.footer-img>a{
    padding: 5px;
}
.food-nav>ul{
    list-style-type: none;
    height: 100px;
}